<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{ metaTitle }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <!-- <hr /> -->
    <a href="/add">添加</a>
    <ul class="list">
      {% for task in tasks %}
        {% if (task.done) %}
          {% set isDoneCls = 'done' %}
          {% set isDone = '已完成' %}
          <li class="list-item {{isDoneCls}}">
            <input type="checkbox" checked onclick="change({{task.id}})">
            [{{isDone}}] - {{task.title}}
            <a href="/remove/{{task.id}}">x</a>
          </li>
        {% else %}
          {% set isDoneCls = '' %}
          {% set isDone = '未完成' %}
          <li class="list-item {{isDoneCls}}">
            <input type="checkbox" onclick="change({{task.id}})">
            [{{isDone}}] - {{task.title}}
            <a href="/remove/{{task.id}}">x</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <script>
      function change(id) {
        window.location.href = `/change/${id}`
      }
    </script>
  </body>
</html>
