<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Koa2 MySQL</title>
  <style>
    .done span{
      text-decoration: line-through;
      color: #999;
    }
    .filter a {
      color: #999;
    }
    .filter .selected {
      color: blue;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>TodoList</h1>
    <hr>
    <input type="text" v-model="inputText"><button @click="addTodo">add</button>
    <ul>
      <li v-for="todo in todos" :key="todo._id" :class="todo.done ? 'done' : ''">
        <input type="checkbox" v-model="todo.done" @change="toggleTodo(todo._id, todo.done)">
        <span>{{todo.title}}</span>
        <button @click="removeTodo(todo._id)">x</button>
      </li>
    </ul>
    <nav class="filter">
      <a :class="filter == 'all' ? 'selected' : ''" href="javascript:;" @click="filterTodos('all')">ALL</a>,
      <a :class="filter == 'completed' ? 'selected' : ''" href="javascript:;" @click="filterTodos('completed')">Completed</a>,
      <a :class="filter == 'todo' ? 'selected' : ''" href="javascript:;" @click="filterTodos('todo')">Todo</a>
      <span>共 {{total}} 条</span>
    </nav>
    <nav>
      <a href="javascript:;" @click="changePage(1)">1</a>
      <a href="javascript:;" @click="changePage(2)">2</a>
      <a href="javascript:;" @click="changePage(3)">3</a>
      <a href="javascript:;" @click="changePage(4)">4</a>
      <a href="javascript:;" @click="changePage(5)">5</a>
    </nav>
  </div>
  <script src="/js/vue.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        inputText: '',
        filter: 'all',
        todos: [],
        limit: 10,
        curPage: 1,
        total: 0,
      },
      created() {
        this.getData()
      },
      watch: {
        filter(newVal, val) {
          this.getData()
        },
        curPage(newVal, val) {
          this.getData()
        }
      },
      methods: {
        getData(limit = 5) {
          fetch(`/todos?page=${this.curPage}&limit=${limit}&type=${this.filter}`).then(r => r.json()).then(res => {
            if (res.code == 0) {
              this.todos = res.data.todos
              this.total = res.data.total
            }
          })
        },
        addTodo() {
          if (this.inputText != '') {
            fetch('/add', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ title: this.inputText })
            }).then(r => r.json()).then(res => {
              if (res.code == 0) {
                this.inputText = ''
                this.getData()
              }
            })
          }
        },
        toggleTodo(id, done) {
          done = done ? 1 : 0
          console.log('toggleTodo', id, done)
          fetch(`/toggle/${id}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ done })
          })
            // .then(r => r.json()).then(res => {
            // if (res.code == 0) {
            //   console.log('修改成功', id)
            // }
        },
        removeTodo(id) {
          fetch(`/remove/${id}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          this.getData()
        },
        filterTodos(type) {
          this.filter = type
        },
        changePage(page) {
          this.curPage = page
        }
      },
    })
  </script>
</body>
</html>
